<div class="col-xs-6 col-xs-offset-2">
    <div class="row">
        <div class="col-xs-2">
            <h4>Contributions</h4>
        </div>
        <div class="col-xs-10">
            {% for key,pop in popularity %}
                {% set rurl = key | replace({
                    'https://api.github.com/repos/': 'https://github.com'
                }) %}
                {% set rName = key | replace({
                    'https://api.github.com/repos/': ''
                }) %}
                {% set curl = rurl ~ '/commits?author=' ~ usr %}
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <strong><a href="{{ rurl }}">{{ rName }}</a></strong>
                        </div>
                        <div class="col-xs-12">
                            <p>
                                {{ usr }} has contributed with <a href={{ curl }}>{{ pop }} commit(s)</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
</div>