<div class="col-xs-6 col-xs-offset-2 ">
    <div class="row">
        <div class="col-xs-2">
            <h4>Languages</h4>
        </div>
        <div class="col-xs-10">
            <div class="row">
                {% for lang, val in langs %}
                    <div class="col-xs-4">
                        <a href="https://github.com/search?q=user&3A{{ lang }}&l={{ lang }}" alt="{{ lang }}">
                            {{ lang }}
                        </a>
                        {{ ' ( ' ~ ((val / total) * 100 )| round ~ '% )' }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="col-xs-6 col-xs-offset-2">
    <div class="row">
        <div class="col-xs-2">
            <h4>Popular Repositories</h4>
        </div>
        <div class="col-xs-10">
            <div class="row">
                {% set count = 0 %}
                {% for repo in repos if count < 5 %}
                    {% set count = count + 1 %}
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-10">
                                <h4>{{ repo.name }}</h4><br>
                            </div>
                            <div class="col-xs-2"><h4>{{ repo.created_at | date('Y') }} - {{ repo.pushed_at | date('Y') }}</h4></div>
                            <div class="col-xs-12">
                                <p>{{ repo.description }}</p>
                                <a href="{{ repo.homepage }}">{{ repo.homepage }}</a>
                            </div>
                            <div class="col-xs-12">
                                <p>This repository has {{ repo.watchers }} stars and {{ repo.forks }} forks. If you would like more information about this repository and my contributed code, please visit the repo on GitHub.</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
<hr>
</div>